@model CreateWorkLocation
@{
    ViewData["Title"] = "AddWorkLocation";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <br />
        <label>Lokasyon Adı</label>
        <input type="text" class="form-control" asp-for="workLocationName" />
        <br />
        <label>Şehir</label>
        <input type="text" class="form-control" asp-for="workLocationCity" />

        <br />
        <button class="btn mb-1 btn-rounded btn-outline-primary">Ekle</button>
    </form>

</div>

