
<div class="nk-nav-scroll">
    <ul class="metismenu" id="menu">
        <li class="nav-label">Admin Paneli</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-speedometer menu-icon"></i><span class="nav-text">Anasayfa</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./index.html">Anasayfa</a></li>
                <!-- <li><a href="./index-2.html">Home 2</a></li> -->
            </ul>
        </li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-notebook menu-icon"></i> <span class="nav-text">Personeller</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="/Staff/Index/">Personel Listesi</a></li>
                <li><a href="/Staff/AddStaff/">Personel Ekle</a></li>
                <li><a href="./email-read.html">Personel Detay</a></li>
            </ul>
        </li>
        <li>
            <a href="widgets.html" aria-expanded="false">
                <i class="icon-badge menu-icon"></i><span class="nav-text">Referanslar</span>
            </a>
        </li>
        <li>
            <a href="/Service/Index/" aria-expanded="false">
                <i class="icon-clock menu-icon"></i><span class="nav-text">Hizmetler</span>
            </a>
        </li>
      
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-envelope menu-icon"></i> <span class="nav-text">Mesajlar</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./email-inbox.html">Gelen Mesajlar</a></li>
                <li><a href="./email-read.html">Giden Mesajlar</a></li>
                <li><a href="./email-compose.html">Mesaj Oluştur</a></li>
            </ul>
        </li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-graph menu-icon"></i> <span class="nav-text">Grafikler</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./chart-flot.html">Flot</a></li>
                <li><a href="./chart-morris.html">Morris</a></li>
                <li><a href="./chart-chartjs.html">Chartjs</a></li>
                <li><a href="./chart-chartist.html">Chartist</a></li>
                <li><a href="./chart-sparkline.html">Sparkline</a></li>
                <li><a href="./chart-peity.html">Peity</a></li>
            </ul>
        </li>
       
        <li>
            <a href="widgets.html" aria-expanded="false">
                <i class="icon-badge menu-icon"></i><span class="nav-text">Widget</span>
            </a>
        </li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="./form-basic.html">Basic Form</a></li>
                <li><a href="./form-validation.html">Form Validation</a></li>
                <li><a href="./form-step.html">Step Form</a></li>
                <li><a href="./form-editor.html">Editor</a></li>
                <li><a href="./form-picker.html">Picker</a></li>
            </ul>
        </li>
     
    </ul>
</div>