@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div>
    <form method="post">
        <input type="hidden" asp-for="StaffID" />
        <label>Personel Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Personel Unvanı</label>
        <input type="text" class="form-control" asp-for="Title" />
        <br />
        <label>Sosyal Medya</label>
        <input type="text" class="form-control" asp-for="SocialMedia1" />
        <br />
        <label>Sosyal Medya</label>
        <input type="text" class="form-control" asp-for="SocialMedia2" />
        <br />
        <label>Sosyal Medya</label>
        <input type="text" class="form-control" asp-for="SocialMedia3" />
        <br />
        <button class="btn mb-1 btn-rounded btn-outline-primary">Güncelle</button>
    </form>
</div>
